.homebody {
  background-image: url('./images/pokemon_water.jpg');
  background-size: cover;
  background-position: center;
  height: 230vh;
}

@media (max-width: 800px) {
  .homebody {
    background-image: url('./images/pokemon_water.jpg');
    background-size: cover;
    background-position: center;
    height: 260vh;
  }
}

h1 {
  font-size: 45px;
  justify-content: center;
  display: flex;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
  justify-content: center;
  display: flex;

}

.navbar {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}

.linkText {
  color: black;
}
