.card {

}

.back {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-image: url("../img/pkm-cardback.png");
  background-position: center;
  background-size: contain;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url('../img/venasuar.jpg');
  background-position: center;
  background-size: contain;
  transform: rotateY(180deg);
}

.img {
  height: 350px;
  width: 300px;
  padding: 15px;
}
