.unicornbody {
  background-image: url('./images/unicornback.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  height: 180vh;
}

@media (max-width: 800px) {
  .unicornbody {
    background-image: url('./images/unicornback.jpg');
    background-position: center;
    background-repeat: repeat-y;
    height: 160vh;
  }
}

h1 {
  font-size: 45px;
  justify-content: center;
  display: flex;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
  justify-content: center;
  display: flex;

}

.navbar {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}

.linkText {
  color: black;
}
