.unicornbody {
  background-image: url('./images/unicornback.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 45px;
  justify-content: center;
  display: flex;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
  justify-content: center;
  display: flex;

}

.navbar {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}

.linkText {
  color: black;
}
